.page-enter-active, .page-leave-active {
    transition: all 0.4s;
}
.page-enter-from, .page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}
.slide-enter-active, .slide-leave-active {
    transition: all 0.4s ease-out;
}
.slide-enter-from {
    opacity: 0;
    transform: translateX(-100%);
}
.slide-leave-to {
    opacity: 0;
    transform: translateX(100%);
}