.page-enter-active,
.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.page-enter-from {
  opacity: 0;
  transform: translateX(1000px);
  filter: blur(1rem);
}
.page-leave-to {
  opacity: 0;
  transform: translateX(-1000px);
  filter: blur(1rem);
}

/* .page-enter-active,
.page-leave-active {
  transition: all 4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.slide-enter-active, .slide-leave-active {
    transition: all 1s ease-out;
}
.slide-enter-from {
    opacity: 0;
    transform: translateX(-100%);
}
.slide-leave-to {
    opacity: 0;
    transform: translateX(100%);
} */